# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/

# IDE settings
.idea/
.vscode/
*.code-workspace
